@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  ::selection {
    background-color: #c8a96e33;
    color: #f5f5f0;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #0e0e0e;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 2px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
